//对话框
#{$prefix}-dialog {
    @include flex-column();
    border-radius: 6px;
    overflow: hidden;

    &__header {
        display: flex !important;
        padding: 0;
        @include flex-row();
        flex-shrink: 0;
        @include vertical-center(50px);
        box-sizing: border-box;
        border-bottom: 1px solid #eee;

        .title-icon {
            flex-shrink: 0;
            padding: 0 10px 0 15px;
            border-radius: 50%;
            font-size: 16px;

            .em-icon {
                width: 12px;
                height: 12px;
                margin-top: 14px;
                padding: 5px;
                border-radius: 50%;
                color: #fff;
                @include theme-color('background', $cmp-color);
            }
        }

        .title-txt {
            flex-grow: 1;
            font-size: 14px;
        }

        .toolbar {
            position: relative;
            padding-right: 14px;
            flex-shrink: 0;

            .em-button {
                width: 28px;
                height: 28px;
                padding: 0;
                margin-left: 8px;
                background: 0 0;
                border: none;
                outline: 0;
                cursor: pointer;
                font-size: 16px;
                border-radius: 50%;

                &:hover {
                    @include theme-color('color', $cmp-active-color);
                    @include theme-color('background', $cmp-active-bg);
                    padding: 2px;
                }
            }
        }
    }

    &__content {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        overflow: hidden;

        .el-scrollbar__view {
            box-sizing: border-box;
        }
    }

    &__footer {
        display: flex;
        padding: 5px 10px;
        flex-shrink: 0;
        justify-content: flex-end;
        z-index: 1;
        border-top: 1px solid $borer-color-primary;

        &-left {
            text-align: left;
        }

        &-right {
            flex-grow: 1;
            text-align: right;
        }
    }

    > .el-dialog__header {
        padding: 0;
        margin-right: 0;
    }
    > .el-dialog__body {
        position: relative;
        flex-grow: 1;
        overflow: hidden;
        padding: 0;
    }

    &.is-fullscreen {
        margin-left: 0 !important;
        margin-top: 0 !important;
        left: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        margin-bottom: 0 !important;
        margin-right: 0 !important;
        height: 100% !important;
        width: 100% !important;

        > .el-dialog__body {
            > .em-dialog-body {
                position: absolute !important;
                height: 100% !important;
                width: 100% !important;
            }
        }
    }
}
