#{$prefix}-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &__header {
        display: flex;
        width: 100%;
        height: 80px;
        @include theme-color('background', $cmp-color);

        .system-info {
            display: flex;
            align-items: center;
            height: 100%;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            padding-left: 8px;
            min-width: 220px;
            box-sizing: border-box;

            .system-logo {
                width: 40px;
                height: 40px;
            }

            .system-title {
                flex-grow: 1;
                @include vertical-center(80px);
                font-size: 28px;
                color: #fff;
                white-space: nowrap;
                padding-left: 8px;
                letter-spacing: 2px;
            }

            .system-enterprise {
                font-size: 16px;
                color: #f7920f;
            }
        }

        &__nav {
            display: flex;
            flex-grow: 1;
            margin: 0 24px;

            .nav-item {
                min-width: 86px;
                display: flex;
                flex-direction: column;
                padding: 0 12px;
                margin-right: 24px;
                box-sizing: border-box;
                cursor: pointer;
                @include theme-mode('color', $main-menu-color);

                &.active {
                    border-bottom: 4px solid;
                    @include theme-color('color', $cmp-active-color);
                    @include theme-color('border-color', $cmp-active-color);
                    @include theme-color('background', $cmp-active-bg);
                    transition: all 0.25s ease-in-out;
                }

                &:hover {
                    @include theme-color('color', $cmp-active-color);
                    @include theme-color('background', $cmp-active-bg);
                }

                &__icon {
                    flex-grow: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 32px;
                    .em-icon {
                        margin-top: 10px;
                    }
                }

                &__text {
                    @include vertical-center(32px);
                    text-align: center;
                    font-size: 13px;
                }
            }
        }

        &__toolbar {
            display: flex;
            height: 100%;
            align-items: center;

            &__search {
                width: 180px;
                margin-right: 24px;
                .el-input__inner {
                    background-color: transparent;
                }
                .el-input__inner,
                .el-input__icon {
                    height: 32px;
                    line-height: 32px;
                }
            }

            &__item {
                cursor: pointer;
                padding: 0 3px;
                float: left;
                text-align: center;
                margin-right: 16px;
                &-icon {
                    font-size: 30px;
                    color: #fff;
                }

                &-text {
                    display: block;
                    margin-top: 5px;
                    font-size: 10px;
                    color: #fff;
                }
            }
        }
    }

    &__sidebar {
        position: relative;
        @include flex-column();
        width: 220px;
        height: 100%;
        flex-shrink: 0;
        box-sizing: border-box;
        @include theme-mode('background', $main-color);
        border-top: 2px solid;
        @include theme-color('border-color', $cmp-active-color);
        &__menus {
            .el-menu {
                @include theme-mode('background', $main-color);
            }

            :deep(.el-sub-menu__title) {
                @include theme-mode('color', $main-menu-color);
                &:hover {
                    @include theme-color('color', $cmp-active-color);
                    @include theme-color('background', $cmp-active-bg);
                }
            }

            :deep(.el-menu-item) {
                @include theme-mode('color', $main-menu-color);

                &.is-active {
                    @include theme-color('color', $cmp-active-color);
                    @include theme-color('background', $cmp-active-bg);
                }

                &:hover {
                    @include theme-color('color', $cmp-active-color);
                    @include theme-color('background', $cmp-active-bg);
                }
            }

            :deep(.el-menu--inline) {
                @include theme-mode('background', $sidebar-menu-inline-bg);
            }

            :deep(.em-icon) {
                margin-right: 4px !important;
            }
        }

        &-empty {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid;
            @include theme-mode('border-color', $main-menu-color);
            padding: 8px;
            box-sizing: border-box;
            border-radius: 8px;

            .em-icon {
                padding: 20px;
            }

            @include theme-mode('color', $main-menu-color);
        }

        &.collapse {
            width: 65px;

            :deep(.em-icon) {
                font-size: 18px !important;
            }

            :deep(.el-menu) {
                border-right: 0 !important;
            }

            :deep(.el-menu--collapse) {
                width: 65px;
            }

            :deep(.el-sub-menu__title) {
                padding-right: 0 !important;
            }
        }
    }

    &__body {
        flex: 1;
        display: flex;
    }

    &__content {
        flex: 1;
        @include flex-column();
        background: #f7f7f7;
        &__tabs {
            position: relative;
            @include flex-row();
            width: 100%;
            height: 40px;
            padding: 4px 0;
            box-sizing: border-box;
            background: #f7f7f7;

            .toggle-btn {
                flex-shrink: 0;
                background-color: #ebf1f6;
                box-sizing: border-box;
                margin: 0 2px;

                a {
                    padding: 0 6px;
                    display: inline-block;
                    height: 32px;
                    line-height: 32px;
                    font-size: 22px;
                    text-align: center;
                    background-color: #fff;
                    color: #909090;
                    cursor: pointer;
                    text-decoration: none;
                    box-sizing: border-box;
                    border: 1px solid #dcdfe6;

                    &:hover {
                        color: #444;
                    }
                }
            }
        }

        &__page {
            flex: 1;
            position: relative;
            background: #f7f7f7;
            padding: 4px;
            box-sizing: border-box;
            overflow: hidden;
            margin-top: -2px;
        }

        #renderView {
            width: 100%;
            height: 100%;
        }
    }
}
