.page {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

//隐藏
.hidden {
    display: none;
}

.tree-label {
    margin-left: 4px;
}

.el-row + .el-row {
    margin-top: 20px;
}

.el-alert {
    margin-bottom: 12px;
}
